//Phones
/* smartphones, iPhone, portrait 480x320 phones */
// eg iPhone 6/7/8
@media screen and (min-width: 320px) and (max-height: 700px) {
  .home-section {
    height: 370px;
    margin-top: 200px;
    padding-bottom: 50px;
  }

  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

// eg iPhone 6/7/8 Plus
@media screen and (min-width: 320px) and (min-height: 700px) {
  .home-section {
    height: 416px;
    margin-top: 230px;
    padding-bottom: 50px;
  }

  h1 {
    font-size: 30px;
    line-height: 50px;
  }
}

// eg: iPhone15 Pro, iPhone X
@media screen and (min-width: 320px) and (min-height: 750px) {
  .home-section {
    height: 460px;
    margin-top: 300px;
    padding-bottom: 10px;
  }

  h1 {
    font-size: 30px;
    line-height: 50px;
  }
}

// eg: iPhone14 Pro Max
@media screen and (min-width: 320px) and (min-height: 900px) {
  .home-section {
    height: 460px;
    margin-top: 300px;
    padding-bottom: 100px;
  }

  h1 {
    font-size: 35px;
    line-height: 50px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media screen and (min-width: 961px) {
  .home-section {
    height: 439px;
    margin-top: 298px;
    padding-bottom: 0;
  }
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
}

h1 {
  font-family: var(--fonts-heading);
  margin: 0 0 20px;
  color: var(--primary);
}

p {
  margin: 20px 0;
  line-height: 28px;
  color: var(--secondary);
}

section {
  padding: 0;
}
