@import './variables.scss';
@import './element-ui.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700,900&display=swap');

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #777;
  font-family: 'Rubik', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
  height: 100%;
  background-color: transparent !important;
}

h1 {
  margin-block-start: 0px !important;
}

a:-webkit-any-link{
  text-decoration:none !important;
  color: white !important;
  font-size: 16px;
}

.flag-size {
  width: 15px;
  vertical-align: middle; // align icon with textes in a div
}

.icon-right { padding-left: 20px; }
