/* Apply to every phone */
@media screen and (max-width: 900px) {
  .c-cUWjlu {
    padding-bottom: 50px;
  }

  .c-jEusvl {
    line-height: 48px;
    font-size: 36px;
  }

  .c-hAKjjp {
    font-size: 10px;
  }
}

/* Apply to other devices */
@media screen and (min-width: 900px) {
  .c-jEusvl {
    line-height: 80px;
  }

  .c-hAKjjp {
    font-size: 16px;
  }
}

.c-jEusvl {
  text-align: center;
  color: var(--primary);
  z-index: 3;
}

.c-hZAbru {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  margin: 0px;
  width: 100%;
}

.c-hAKjjp {
  color: var(--primary);
  font-weight: 500;
  text-align: center;
}

.parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-body {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  text-align: justify;
}

.article-content {
  color: var(--secondary);
  max-width: 760px;
  padding: 0 10px;
  font-size: 16px;
}
