/* You can add global styles to this file, and also import other style files */
:root {
  --yellow: #ffff80;
  --pink: #ff80bf;
  --purple: #9580ff;
  --red: #ff9580;
  --orange: #ffca80;
  --green: #8aff80;
  --cyan: #80ffea;
  --primary: #f2f2f2;
  --secondary: #8f9ba8;
  --background: #08070b;
  --hover: #212024;
  --command: rgba(255, 255, 255, 0.05);
  --fonts-body: 'Biotif', sans-serif;
  --fonts-code: 'Fira Code', monospace;
  --fonts-heading: 'Neuzeit Grotesk Bold', sans-serif;
  --fonts-not-found: 'Montserrat Bold', sans-serif;
  --transitions-duration: 0.2s;
  --btn-borderRadius: 8px;
  --space-navHeightMobil: 100px;

  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-scroll-snap-strictness: proximity;
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

@font-face {
  font-family: 'Biotif';
  src: url('assets/fonts/Biotif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk Bold';
  src: url('assets/fonts/NeuzeitGro-Bol.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('assets/fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Phones
@media screen and (max-device-width: 961px) {
  [class*='-section'] {
    margin-left: 10%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  section {
    padding: 60px 0px 0px 0px;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width: 961px) {
  [class*='-section'] {
    margin-left: 22%;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  section {
    padding: 100px 0px;
  }
}

* {
  font-family: var(--fonts-body);
}

html,
body {
  margin: 0;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
}

a {
  border-bottom: 0.5px solid var(--secondary);
  color: var(--primary);
  text-decoration: none;
  transition: opacity var(--transitions-duration) ease-in-out;
  cursor: pointer;
}

a:hover,
a:focus {
  opacity: 0.8;
}

h1 {
  font-family: var(--fonts-heading);
  line-height: 50px;
  margin: 0 0 20px;
  color: var(--primary);
  display: block;
  font-weight: bold;
}

h2 {
  color: var(--primary);
  display: block;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

strong {
  color: var(--primary);
  font-weight: 500;
}

[class*='-section'] {
  flex: 1;
}

kbd {
  color: var(--background);
  background: var(--secondary);
  padding: 1px 5px;
  border-radius: 4px;
  transition: background var(--transitions-duration) ease-in-out;
  font-family: var(--fonts-code);
  font-size: 14px;
}

.c-gfjkKg {
  appearance: none;
  background: transparent;
  border: 0px;
  border-radius: var(--btn-borderRadius);
  color: var(--primary);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0px 0px 0px -10px;
  outline: 0px;
  padding: 8px 10px;
  text-decoration: none;
  transition:
    background var(--transitions-duration) ease-in-out,
    color var(--transitions-duration) ease-in-out;
}

.c-gfjkKg:hover {
  background: var(--hover);
  color: var(--primary);
  opacity: 1;
}

.c-gfjkKg:hover kbd {
  background: var(--primary);
}
