@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import 'theme-colors';
@import 'medias';

/*
* === BODY, APP BACKGROUND ETC. ===
*/

* {
  box-sizing: border-box;
  padding: 0;
  background-color: var(--app-background-color);
  transition: all .2s linear;
  // background: url("../images/jpeg/night.jpg") no-repeat center center fixed;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

// ::-webkit-file-upload-button {
//   -webkit-appearance: button;
//   font: inherit;
// }

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


body {
  font-family: Zilla Slab,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  // transition: background-color 1s ease 0s;
  color: var(--text-normal-color);
  // font-weight: normal;
  // word-wrap: break-word;
  // font-kerning: normal;
  // -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  // -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  // -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  // font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

/* GENERAL CLASSES */

.app-background {
  background-color: var(--app-background-color);
}
.transition {
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.block {
  display: block;
}
.relative {
  position: relative;
}
.w-full {
  width: 100%;
}

.bg-light-elevatedSurface, .bg-light-surface {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255,255,255,var(--bg-opacity));
}
.text-center {
  text-align: center;
}
.p-20 {
  padding: 20px;
}
.mt-48 {
  margin-top: 48px;
}
.svg-inline--fa, svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -.125em;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}
.heart-background {
  min-width: 1em;
  min-height: 1em;
  position: absolute;
  margin-top: 4px;
  opacity: .2;
}
.animate-ping {
  -webkit-animation: ping 1s cubic-bezier(0,0,.2,1) infinite;
  animation: ping 1s cubic-bezier(0,0,.2,1) infinite;
}
.z-10 {
  z-index: 10;
}
.text-red-300 {
  --text-opacity: 1;
  color: #feb2b2;
  color: rgba(254,178,178,var(--text-opacity));
}
.text-red-600 {
  --text-opacity: 1;
  color: #e53e3e;
  color: rgba(229,62,62,var(--text-opacity));
}
.mt-2 {
  margin-top: .5rem;
}

.txt-deco-none {
  text-decoration: none;
}

.social-media-link {
  svg {
    path {
      fill: var(--social-media-color);
    }
  }
}
.social-media-link:hover {
  svg {
    path {
      fill: var(--color-theme-accent);
    }
  }
}

.items-center {
  align-items: center;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.duration-500 {
  transition-duration: .5s;
}
.mt-12 {
  // margin-top: 3rem;
}
.rounded-full {
  border-radius: 9999px;
}
.block {
  display: block;
}
.mb-8 {
  // margin-bottom: 2rem;
}
.border-4 {
  border-width: 4px;
}
.p-2 {
  padding: .5rem;
}

.space_between {
  justify-content: space-between;
}

.space_around {
  justify-content: space-around;
}

.rounded-lg {
  border-radius: .5rem;
}

.m-4 {
  margin: 1rem;
}

.h-16 {
  height: 4rem;
}

.skill {
  transition: all .3s ease-in-out;
  filter: grayscale(0);
}

.bg-white {
  --bg-opacity: 1;
  background-color: #fff;
  // background-color: rgba(255,255,255,var(--bg-opacity));
}

.m-0 {
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}
.mt-10 {
  margin-top: 10px;
}
.mr-6 {
  margin-right: 6px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-12 {
  margin-left: 12px;
}
.mb-15 {
  margin-bottom: 15px;
}
.pb-25 {
  padding-bottom: 25px; 
}
.pl-5 {
  padding-left: 5px;
}
.font-bold {
  font-weight: 700;
}
.items-center {
  align-items: center;
}

.color-theme-accent {
  color: var(--color-theme-accent);
}

.text-primary-color {
  color: var(--text-primary-color);
}

.text-normal-color {
  color: var(--text-normal-color);
}

.overflow-hidden {
  overflow: hidden;
}

.mr-8 {
  margin-right: 8px;
}

.border-2 {
  border-width: 2px;
}

.rounded-full {
  border-radius: 9999px;
}

.flag-size {
  width: 20px;
}

.w-40 {
  width: 40px;
}
.text-light-accent {
  --text-opacity: 1;
  color: #5c61ff;
  // color: rgba(92,97,255,var(--text-opacity));
}

.anime-ping {
  animation: load 1.5s ease-out infinite;
}

.bounce {
  -webkit-animation-name: bounce-animation;
  animation-name: bounce-animation;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
// .box-shadow {
//   box-shadow: 0 -10px 10px rgb(0 0 0 / 20%);
// }

.text-base {
  font-size: 19px;
}
.mt-4 {
  margin-top: 16px;
}
.justify-center {
  justify-content: center;
}
.align-items {
  align-items: center;
}
.justify-text {
  text-align: justify;
}
.flex-wrap {
  flex-wrap: wrap;
}
.relative {
  position: relative;
}
.flex-col {
  flex-direction: column;
}

///////////////////
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

button {
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top: 1px var(--text-normal-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

// Waving hand emoji
.wave {
  -webkit-animation-name: wave-animation;
  animation-name: wave-animation;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

///////////// a - link css
.link {
  text-decoration: none;
  letter-spacing: -.5px;
  border-radius: 5px;
  line-height: 1;
  text-transform: uppercase;
  // padding: 6px 10px 6px;
  position: relative;
  z-index: 0;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  color: var(--btn-txt);
  transition: color .3s ease-out;
}
.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  // margin-top: 5px;
  // padding-left: 10px;
  background-image: linear-gradient(60deg, var(--color-theme-accent) 0%, var(--color-theme-accent) 100%);
  transition: transform .25s ease-out;
}
.link:hover { 
  color: #fff;
}
.link:active { 
  color: #fff;
}
.link:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}

//// Basic button style
button {
  background: none;
  font: inherit;
  border: none;
  line-height: 1;
  border-radius: 5px;
}

.btn-border {
  border: 2px solid;
}
