@import 'theme-colors';

/*
* === BODY, APP BACKGROUND ETC. ===
*/
html, body {
  height: 100%;
  background-color: var(--app-background-color);
}

.app-background {
  background-color: var(--app-background-color);
}

.navbar {
  height: 60px;
  border: none;
  z-index: 100;
  transition: background-color 1s ease 0s;
  top: 0;
  position: fixed;
  width: 100%;
  background-color: var(--app-background-color);
  // display: flex;

  .logo {
    float: left;
    width: 140px;
    height: 18px;
    line-height: 60px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 60px;
    margin-right: 40px;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 1.1em;
      color: white;
      // vertical-align: text-bottom;
      &.lang {
        font-size: 1.7em;
      }
      &.hover-effect {
        cursor: pointer;
        transition: background .3s;
        &:hover {
          background: rgba(0, 0, 0, .025)
        }
      }
      .el-icon-s-tools {
        font-size: 1.15em;
        line-height: 3.1em;
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }

    .btn_connexion {
      color: blue($color: #000000);
    }
  }
}


/*
* === THEME SWITCH ===
*/
input.theme-switch {
  display: none;
}

input.theme-switch + label {
  cursor: pointer;
}

input.theme-switch:not(:checked) + label:hover {
  cursor: pointer;
}

input.theme-switch + label:active,
input.theme-switch:checked + label {
  cursor: pointer;
}
