/* ----------- Non-Retina Screens ----------- */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  .nav {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index:1;
    padding: 20px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: var(--color-theme-accent);
  }
  
  .nav > #nav-check {
    display: none;
  }

  .theme-switch-button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-primary-color);
    outline: 0;
    padding-right: 10px;

    svg {
      fill: var(--text-primary-color);
    }
  }

  // Profile style
  .profile-width {
		width: 450px;
  }
	.profile-height {
		height: 200px;
  }
	.profile-about-pic {
    border-radius: 90%;
    background-color: #fff;
		width: 100%;
		height: 100%;
	}
  //Icon style

  .icon-width {
		width: 50px;
  }
	.icon-height {
		height: 50px;
	}
	.border-icon {
		--tw-border-opacity: 1;
		border-color: var(--color-theme-accent);
	}
	.pic-border,
	.profile-pic {
    border-radius: 50%;
		width: 100%;
		height: 100%;
	}
	.pic-border {
		box-sizing: border-box;
		background-image: linear-gradient(to right, var(--color-theme-accent), var(--color-theme-accent));
		padding: 2px; // width of the profile pic border
  }
  
  //////// Button style

  button {  
    color: var(--color-theme-accent);
    transition: 0.4s;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }

  .slide:hover,
  .slide:focus {
    border: 2px solid;
    box-shadow: inset 6.5em 0 0 0 var(--color-theme-accent);
    border-color: var(--color-theme-accent);
    color: var(--app-background-color);
  }

  .close:hover,
  .close:focus {
    border-color: var(--color-theme-accent);
    color: var(--app-background-color);
    border: 2px solid;
    box-shadow: 
      inset -3.5em 0 0 0 var(--color-theme-accent),
      inset 3.5em 0 0 0 var(--color-theme-accent);
  }

  //////// Others classes
  .name-size {
    font-size: 18px;
  }
  .text-base {
    font-size: 19px;
  }
  .text-lg {
    font-size: 32px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-8 {
    margin-top: 10px;
  }
  .mr-24 {
    margin-right: 24px;
  }
  .mr-40 {
    margin-right: 40px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .pt-7 {
    padding-top: 7px;
  }
  .w-85 {
    width: 85px;
  }
  .w-105 {
    width: 105px;
  }
  .w-95 {
    width: 95px;
  }
  .w-65 {
    width: 65px;
  }
  .w-75 {
    width: 75px;
  }
	.svg-theme-size {
		width: 24px;
    height: 24px;
    // vertical-align: middle;
  }
  .vertical-middle {
    display: inline-block;
    vertical-align: middle;
  }
  .mt-svg-theme {
    margin-top: 8px;
	}
  .inline-block {
    display: inline-block;
  }
  .btn-pad {
    padding: 10px 20px;
  }

  /* Home Page */
  .w-content {
    width: 70%;
  }
  .home_page {
    padding-top: 125px;
    .coder {
      margin: 0 auto;
      width: 400px;
      height: 400px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .details {
      width: 90%;
      .detail:hover {
        .icon-dev {
          svg {
            path {
              fill: var(--color-theme-accent);
            }
          }
        }
      }
    }
  
    .details {
      .detail {
        padding-top: 40px;
        .icon-dev {
          // padding-right: 20px;
          // height: 65px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .text-content {
    margin-left: 65px;
  }
  .flex-content {
    display: flex;
  }  

  /* Contact Page */
  .contact_page {
    max-width: 1000px;
    padding-top: 125px;
    padding-bottom: 130px;
  
    .container {
      padding-bottom: 30px;
      .img {
        margin: 0 auto;
        width: 40%;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      .content {
        margin-left: 20px;
        width: 60%;
        p {
          margin-bottom: 2rem;
          margin-top: 1rem;
          a {
            color: var(--color-theme-accent);
            svg {
              width: 18px;
              height: 18px;
              path {
                fill: var(--color-theme-accent);
              }
            }
          }
        }
        .social-media-profiles {
          a {
            padding-right: 12px;
            padding-left: 12px;
            svg {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }

  /* About Page */
  .about_page {
    padding-top: 125px;
    .heading {
      // height: 200px;
      .bio {
        height: 100%;
        padding-left: 70px;
        // margin: auto;
      }
      .content {
        padding-bottom: 10px;
        text-align: justify;
      }
    }
    .content {
      .title {
        color: var(--text-primary-color);
        font-weight: 700;
        font-size: 28px;
      }
      .works {
        padding-top: 10px;
        .work {
          display: flex;
          padding-bottom: 20px;
          .container {
            margin: auto;
            .ping {
              background: var(--ping-animation);
              border-radius: 50%;
              width: 15px;
              height: 15px;
            }
            @keyframes load {
              0% {
                background: var(--ping-animation);
                border: 0px solid var(--ping-animation);
              }
              50% {
                background: var(--ping-animation);
                border: 10px solid var(--ping-color);
              }
              100% {
                background: var(--ping-animation);
                border: 0px solid var(--ping-color);
              }
            }
          }
          .content {
            width: 95%;
            .periode {
              // font-size: 25px;
            }
            .role {
              color: var(--text-primary-color);
              font-weight: 700;
              font-size: 24px;
            }
            .entreprise {
              font-weight: 700;
              font-size: 20px;
            }
          }
        }
      }
      .skills {
        margin-top: 30px;
      }
      .education {
        padding-top: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        .educ {
          display: flex;
          padding-bottom: 20px;
          .container {
            margin: auto;
            .ping {
              background: var(--ping-animation);
              border-radius: 50%;
              width: 10px;
              height: 10px;
            }
          }
          .content {
            width: 95%;
            .periode {
              // font-size: 25px;
            }
            .role {
              color: var(--text-primary-color);
              font-weight: 700;
              font-size: 24px;
            }
            .entreprise {
              font-weight: 700;
              font-size: 20px;
            }
          }
        }
      }
      .languages {
        padding-top: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        .language {
          display: flex;
          padding-bottom: 10px;
          .label {
            font-weight: 700;
            font-size: 24px;
          }
          .level {
            padding-left: 50px;
            font-size: 24px;
            // width: 80%;
          }
        }
      }
    }
  }

  //////////
  figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    // margin-bottom: 23px;
  }

  img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 23px;
  }
}

/* ----------- Retina Screens ----------- */
// @media screen 
//   and (min-device-width: 1200px) 
//   and (max-device-width: 1600px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (min-resolution: 192dpi) { 
// }