/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	//////////////
	audio:not([controls]) {
		display: none;
		height: 0;
	}
	
	progress {
		vertical-align: baseline;
	}
	
	abbr[title] {
		border-bottom: none;
		text-decoration: underline;
		text-decoration: underline dotted;
	}
	
	img {
		border-style: none;
	}
	
	svg:not(:root) {
		overflow: hidden;
	}
	
	button {
		font: inherit;
		margin: 0;
		overflow: visible;
		text-transform: none;
	}
	
	[type="reset"],
	[type="submit"],
	button,
	html [type="button"] {
		-webkit-appearance: button;
	}
	
	[type="button"]::-moz-focus-inner,
	[type="reset"]::-moz-focus-inner,
	[type="submit"]::-moz-focus-inner,
	button::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}
	
	[type="button"]:-moz-focusring,
	[type="reset"]:-moz-focusring,
	[type="submit"]:-moz-focusring,
	button:-moz-focusring {
		outline: 1px dotted ButtonText;
	}
	
	[type="checkbox"],
	[type="radio"] {
		box-sizing: border-box;
		padding: 0;
	}
	
	[type="number"]::-webkit-inner-spin-button,
	[type="number"]::-webkit-outer-spin-button {
		height: auto;
	}
	
	[type="search"] {
		-webkit-appearance: textfield;
		outline-offset: -2px;
	}
	
	[type="search"]::-webkit-search-cancel-button,
	[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	.items-center {
		align-items: center;
	}
	.ease-in-out {
		transition-timing-function: cubic-bezier(.4,0,.2,1);
	}
	.duration-500 {
		transition-duration: .5s;
	}
	.transition {
		transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
	}
	.border-b-2 {
		border-bottom-width: 2px;
	}
	.block {
		display: block;
	}
	.relative {
		position: relative;
	}
	.w-full {
		width: 100%;
	}
	.bg-light-elevatedSurface, .bg-light-surface {
		--bg-opacity: 1;
		background-color: #fff;
		background-color: rgba(255,255,255,var(--bg-opacity));
	}
	.text-center {
		text-align: center;
	}
	.p-20 {
		padding: 20px;
	}
	.mt-48 {
		margin-top: 48px;
	}
	.hidden {
		display: none;
	}
	.svg-inline--fa, svg:not(:root).svg-inline--fa {
		overflow: visible;
	}
	.svg-inline--fa.fa-w-18 {
		width: 1.125em;
	}
	.svg-inline--fa.fa-w-16 {
		width: 1em;
	}
	.svg-inline--fa {
		display: inline-block;
		font-size: inherit;
		height: 1em;
		vertical-align: -.125em;
	}
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		white-space: nowrap;
		border-width: 0;
	}
	.heart-background {
		min-width: 1em;
		min-height: 1em;
		position: absolute;
		margin-top: 4px;
		opacity: .2;
	}
	.animate-ping {
		-webkit-animation: ping 1s cubic-bezier(0,0,.2,1) infinite;
		animation: ping 1s cubic-bezier(0,0,.2,1) infinite;
	}
	.z-10 {
		z-index: 10;
	}
	.text-red-300 {
		--text-opacity: 1;
		color: #feb2b2;
		color: rgba(254,178,178,var(--text-opacity));
	}
	.text-red-600 {
		--text-opacity: 1;
		color: #e53e3e;
		color: rgba(229,62,62,var(--text-opacity));
	}
	.mt-2 {
		margin-top: .5rem;
	}
	
	.txt-deco-none {
		text-decoration: none;
	}
	
	.social-media-link {
		svg {
			path {
				fill: var(--social-media-color);
			}
		}
	}
	.social-media-link:hover {
		svg {
			path {
				fill: var(--color-theme-accent);
			}
		}
	}
	
	.mt-12 {
		// margin-top: 3rem;
	}
	.rounded-full {
		border-radius: 9999px;
	}
	.block {
		display: block;
	}
	.mb-8 {
		// margin-bottom: 2rem;
	}
	.border-4 {
		border-width: 4px;
	}
	.p-2 {
		padding: .5rem;
	}
	
	// Icon style
	
	.icon-width {
		width: 50px;
	}
	.icon-height {
		height: 50px;
	}
	.border-icon {
		--tw-border-opacity: 1;
		border-color: var(--color-theme-accent);
	}
	.pic-border,
	.profile-pic {
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}
	.pic-border {
		box-sizing: border-box;
		background-image: linear-gradient(to right, var(--color-theme-accent), var(--color-theme-accent));
		padding: 2px; // width of the profile pic border
	}
	/////////////////////
	
	.name-size {
		font-size: 20px;
	}	
}