:root {
  --app-background-color: #FFFFFF;
  --color-theme-accent: #6C63FF;
  --text-primary-color: #010101;
  --text-normal-color: #777;
  --btn-bg:var(--color-theme-accent);
  --btn-txt:var(--text-normal-color);
  --social-media-color:var(--text-normal-color);
  --ping-color: #fff;
  --ping-animation: #222;
  --btn-download-pdf-txt-color: #fff;
  --text-opacity: 1;
  --dropbox-language-color: var(--text-normal-color);
  --dropbox-language-bgColor: var(--app-background-color);
  --dropbox-language-hover-color: var(--text-primary-color);
  --dropbox-language-hover-bgColor: var(---text-normal-color)
}

[theme="darkMode"] {
  -webkit-font-smoothing: antialiased;
  --app-background-color: rgba(17,24,39,var(--text-opacity));;
  --color-theme-accent: #ffe100;
  --text-primary-color: #FFFFFF;
  --text-normal-color: #a4a7c1;
  --btn-bg: var(--color-theme-accent);
  --btn-txt:var(--text-normal-color);
  --social-media-color:var(--text-normal-color);
  --ping-color: #222;
  --ping-animation: #fff;
  --btn-download-pdf-txt-color: #222;
	--text-opacity: 1;
  --dropbox-language-color: var(--text-normal-color);
  --dropbox-language-bgColor: var(--app-background-color);
  --dropbox-language-hover-color: var(--text-primary-color);
  --dropbox-language-hover-bgColor: var(---text-normal-color)
}