:root {
  --app-background-color: #FFFFFF;
  --color-theme-accent: #6C63FF;
  --text-primary-color: #010101;
  --text-normal-color: #777;
  --text-opacity: 1;
}

[theme="darkMode"] {
	-webkit-font-smoothing: antialiased;
  --app-background-color: #010101;
  --color-theme-accent: #00BFA6;
  --text-primary-color: #FFFFFF;
  --text-normal-color: #a4a7c1;
	--text-opacity: 1;
}